$desktop-xl: 1920px;
$desktop-l: 1548px;
$desktop: 1366px;
$laptop: 1280px;
$mobile-m: 742px;
$mobile-s: 375px;

@mixin desktop-xl {
  @media (max-width: #{$desktop-xl}) {
    @content;
  }
}

@mixin desktop-l {
  @media (max-width: #{$desktop-l}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$laptop}) {
    @content;
  }
}

@mixin mobile-m {
  @media (max-width: #{$mobile-m}) {
    @content;
  }
}

@mixin mobile-s {
  @media (max-width: #{$mobile-s}) {
    @content;
  }
}

@mixin breakpoint($max) {
  @media (max-width: #{$max + 'px'}) {
    @content;
  }
}
