@import "../lib/mixins";
@import "../lib/variables";
@import "../helpers/media";

.bc-container {
  max-width: 1656px;
  width: 90%;
  margin: 0 auto;
}

.barrier-configurator {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--text-black);
    margin: 0;
  }

  .h1, .bc__head--h1 {
    font-size: 70px;
    font-size: clamp(32px, 5vw, 70px);
    font-weight: 700;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .h2, .bc__head--h2 {
    font-size: clamp(24px, 5vw, 44px);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 20px;
  }

  .bc__head--subtitle {
    color: var(--text-gray-light);
    font-size: 60px;
    font-size: clamp(28px, 4vw, 60px);
    font-weight: 300;
    line-height: 110%;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .bc-content {
    margin: 0 auto;
    padding: 24px 16px 60px;
    background-color: #E2E3EA;
    border-radius: 20px;
  }

  .bc__section {
    margin-bottom: 84px;

    &-wrapper {
      margin-left: 52px;
      margin-right: 8px;
    }
  }

  .bc__section-title {
    display: flex;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 28px;
    margin-left: 4px;

    span {
      font-size: 32px;
      margin-left: 32px;
    }
  }

  .bc__section-title-small {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    color: var(--text-gray-light);
  }

  .bc__section-title-xs-small {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 16px;
    color: var(--text-dark);
  }
}

@media screen and (min-width: #{$desktop + 1}) {
  .barrier-configurator {
    .bc-content {
      padding: 60px 60px 100px 60px;
      border-radius: 45px; 
    }
  }
}

@media screen and (min-width: #{$tablet + 1}) {
  .barrier-configurator {
    .bc-content {
      padding: 60px 48px 100px;
    }
  }
}

@media screen and (min-width: #{$mobile-medium + 1}) {
  .barrier-configurator {
    .bc-content {
      padding: 48px 32px 60px;
    }
    .h2, .bc__head--h2 {
      font-size: 44px;
      margin-bottom: 52px;
    }
  }
}