@import "../lib/mixins";
@import "../lib/variables";
@import "../helpers/media";

.bc__form {
  background-color: #e2e3ea;
  border-radius: 16px;
  padding: 24px 16px 60px;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;

  .bc__form-container {
    margin: 0 auto;
    border-radius: 20px;
  }
}

@media screen and (min-width: #{$mobile-medium + 1}) {
  .barrier-configurator {
    .bc__form {
      border-radius: 40px;
      margin-top: 16px;
      width: 90%;
      max-width: 1656px;
    }
  }
}

@media screen and (min-width: #{$tablet + 1}) {
  .barrier-configurator {
    .bc__form {
      margin-top: 40px;
    }

  }
}

@media screen and (min-width: #{$desktop + 1}) {
  .barrier-configurator {
    .bc__form {
      margin-top: 90px;
      padding: 80px 60px 120px;
    }

    .bc__form-container {
      
    }
  }
}