@import "../lib/mixins";

.barrier-configurator {
  .slider__handle-control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-white);
    @include border-radius(8px);
    margin-bottom: 12px;
    width: 100%;
    height: 60px;
  }

  .slider__handle-control-inner {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;

    &:has(.slider__handle-radio:checked)
      + .slider__handle-control-inner
      .slider__handle-segment::after {
      display: none;
    }
  }

  .slider__handle-radio {
    @include hidden-input;

    &:checked + .slider__handle-segment {
      color: var(--text-black);
      box-shadow: inset 0 0 0 2px var(--border-gray);
      @include border-radius(8px);

      &::after {
        display: none;
      }
    }
  }

  .slider__handle-segment {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    color: var(--text-gray);
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    cursor: pointer;
    @include transition;
    @include border-radius(8px);
    user-select: none;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;

    @include hover-color(var(--text-black));

    &.slider__handle-segment--first::after {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 2px;
      height: 32px;
      background-color: #e2e3ea;
      z-index: 1;
    }
  }

  .slider__handle-divider {
    width: 1px;
    height: 24px;
    background-color: #e2e3ea;
    margin: 0 8px;
    flex-shrink: 0;
  }
}

@media screen and (min-width: 451px) {
  .barrier-configurator {
    .slider__handle-control {
      border-radius: 16px;
      height: 80px;
      display: inline-flex;
      max-width: 370px;
    }

    .slider__handle-radio {
      &:checked + .slider__handle-segment {
        border-radius: 16px;
      }
    }
  }
}

@media screen and (min-width: 601px) {
  .barrier-configurator {
    .slider__handle-control {
      .slider__handle-segment {
        font-size: 24px;
      }
    }
  }
}
