$size-thumb: 12px;

.barrier-configurator .bc__width-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4px;
}

.barrier-configurator .bc__width-slider-track {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #ced0db;
  border-radius: 8px;
  --slider-percentage: 17.5%;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: var(--slider-percentage);
    background-color: var(--border-gray);
    border-radius: 8px;
    transform: translateY(-50%);
    z-index: 1;
    transition: width 0.1s ease;
  }
}

.barrier-configurator .bc__width-slider-input {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  margin: 0;
  transform: translateY(-50%);
  background: transparent;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  z-index: 2;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: $size-thumb;
    height: $size-thumb;
    background-color: var(--border-gray);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    top: -4px;
    z-index: 6;
    border: 2px solid var(--border-gray);
  }

  &::-moz-range-thumb {
    width: $size-thumb;
    height: $size-thumb;
    background-color: var(--border-gray);
    border-radius: 50%;
    cursor: pointer;
    border: none;
    position: relative;
    top: -4px;
    z-index: 3;
  }

  &::-ms-thumb {
    width: $size-thumb;
    height: $size-thumb;
    background-color: var(--border-gray);
    background-color: #e2e3ea;
    border-radius: 50%;
    cursor: pointer;
    border: none;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    background: transparent;
  }

  &::-moz-range-track {
    width: 100%;
    height: 4px;
    background: transparent;
  }

  &::-ms-track {
    width: 100%;
    height: 4px;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
}

.barrier-configurator .bc__width-slider-labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 8px;
}

.barrier-configurator {
  .bc__width-slider-label-min,
  .bc__width-slider-label-max {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: var(--text-gray-light);
  }

  .bc__width-slider-track--max ~ .bc__width-slider-labels {
    & > .bc__width-slider-label-max {
      opacity: 0.1;
    }
  }
  .bc__width-slider-track--min ~ .bc__width-slider-labels {
    & > .bc__width-slider-label-min {
      opacity: 0.1;
    }
  }

  .bc__width-slider-track.bc__width-slider-track--min {
    .bc__width-slider-input::-webkit-slider-thumb {
        background-color: #e2e3ea;
        border: 2px solid var(--border-gray);
    }
  }
  .bc__width-slider-track.bc__width-slider-track--max {
    .bc__width-slider-input::-webkit-slider-thumb {
        background-color: #e2e3ea;
        border: 2px solid var(--border-gray);
    }
  }


  .bc__width-slider-value {
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    color: var(--text-black);
    line-height: 24px;
    pointer-events: none;
    transform: translateX(-50%);
    transition: left 0.1s ease;
  }

  .bc__height-control + .bc__section-title-xs-small {
    text-align: center;
  }
}

@media screen and (min-width: 451px) {
  .barrier-configurator .bc__height-control + .bc__section-title-xs-small {
    text-align: left;
  }
  .bc__width-slider {
    max-width: 370px;
  }
}

