@import "../lib/variables";

.barrier-configurator .bc__conditions {
    display: flex;
    flex-direction: column;
    gap: 0;
}

@media screen and (min-width: 451px) {
    .barrier-configurator .bc__conditions {
        gap: 4px;
    }
}

@media screen and (min-width: 601px) {
    .barrier-configurator .bc__conditions {
        gap: 10px;
    }
}

@media screen and (min-width: 601px) {
    .barrier-configurator .bc__conditions {
        gap: 10px;
    }
}

@media screen and (min-width: #{$desktop + 1}) {
    .barrier-configurator .bc__conditions {
        gap: 30px;
    }
}