@media screen and (max-width: 1800px) {


  .barrier-configurator {
    .bc__section-title {
      font-size: 40px;
      line-height: 48px;

      span {
        font-size: 32px;
        margin-left: 34px;
      }
    }
  }
}

@media screen and (max-width: 1500px) {

  .barrier-configurator {
    &.bc {
      border-radius: 44px;
      padding: 80px 40px;
    }

    .bc__section-title {
      font-size: 40px;
      margin-bottom: 36px;

      span {
        margin-left: 34px;
        font-size: 32px;
      }
    }
  }
}

@media screen and (max-width: 1366px) {


  .barrier-configurator {
    &.bc {
      padding: 80px 40px 100px;
      border-radius: 40px;
    }

    .bc__section-title {
      margin-bottom: 20px;

      span {
        margin-left: 32px;
      }
    }
  }
}

@media screen and (max-width: 900px) {


  .barrier-configurator {
    &.bc {
      padding: 60px 40px;
      border-radius: 40px;
    }

    .bc__option-list li {
      font-size: 16px;
      line-height: 24px;
    }

    .bc__section-title {
      span {
        margin-left: 28px;
      }
    }
  }
}

@media screen and (max-width: 712px) {

  .barrier-configurator {
    &.bc {
      border-radius: 24px;
      padding: 40px 32px;
    }

    h1.h1,
    h1 {
      font-size: 40px;
    }

    .bc__section-title {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 24px;

      span {
        margin-left: 16px;
      }
    }
  }
}

@media screen and (max-width: 600px) {


  .barrier-configurator {
    &.bc {
      padding: 40px 20px;
    }

    h1.h1,
    h1 {
      font-size: 32px;
      margin-bottom: 40px;
    }

    .bc__section-title {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 16px;

      span {
        margin-left: 16px;
        font-size: 24px;
      }
    }

    .bc__section {
      margin-bottom: 68px;
    }

    .bc__section-wrapper {
      margin-top: 24px;
    }

    .bc-conditions {
      .bc__radio-label {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .barrier-configurator {
    &.bc {
      padding: 24px 12px;
      border-radius: 20px;
    }

    .bc__section {
      margin-bottom: 40px;
    }

    .bc__section-title {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 16px;

      span {
        margin-left: 6px;
        font-size: 18px;
        line-height: 24px;
      }
    }

    .bc__section-wrapper {
      margin: 0;
    }

    .bc__section-title-small {
      font-size: 14px;
      line-height: 20px;
    }

    h1.h1,
    h1 {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 20px;
    }
  }

  .bc-container {
    max-width: 367px;
  }
}