@import "../lib/variables";

@media screen and (min-width: #{$mobile_header + 1 +'px'}) {
  .barrier-configurator {
    .bc__header {
      &-menu--mobile,
      &-mobile-control {
        display: none;
      }
    }
  }
}

@media screen and (max-width: #{$mobile_header + 'px'}) {
  .barrier-configurator {
    .bc__header {
      z-index: 2;
      position: relative;

      &-menu--mobile {
        background-color: #ffffff;

        > .bc-container {
          position: relative;
        }
      }

      &-menu--mobile-container {
        background-color: #ffffff;
        position: absolute;
        top: -20px;
        right: 0;
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        display: none;
        flex-direction: column;
        z-index: 1;
      }

      &-menu--mobile-item {
        padding: 16px 0;
        margin: 0;
        border-bottom: 1px solid var(--gray-400);

        a {
          color: var(--text-black);
          font-size: 16px;
          font-size: clamp(16px, 3vw, 24px);
          line-height: 16px;
          font-weight: 600;
          text-decoration: none;
          position: relative;
        }

        a::after {
          content: "";
          position: absolute;
          bottom: -3px;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 2px;
          background: var(--color-black);
          transition: width 0.3s ease-out;
        }

        a:hover::after {
          width: 100%;
        }

        &:last-child {
          border-bottom: none;
        }
      }

      &-mobile-control {
        display: flex;
        align-items: center;
      }

      .bc__control-mobile-wrapper {
        padding: 8px;
        cursor: pointer;
      }

      .bc__burger {
        padding: 0;
        position: relative;
        width: 18px;
        height: 12px;
        background: none;
        border: none;
        cursor: pointer;
      }

      .line {
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        background: #ffffff;
        transition: none;
      }

      .line-1 {
        top: 0;
      }

      .line-2 {
        top: 50%;
        transform: translateY(-50%);
      }

      .line-3 {
        bottom: 0;
      }
    }
  }
}
