mixin mobileMenu(id)
  div.bc__header-menu--mobile
    nav.bc-container
      ul.bc__header-menu--mobile-container
        li.bc__header-menu--mobile-item
          a(href="#specifications") Характеристики
        li.bc__header-menu--mobile-item
          a(href="#config") Конфигурация
        li.bc__header-menu--mobile-item
          a(href="#examples") Установки
        li.bc__header-menu--mobile-item
          a(href="#feedback") Получить консультацию