mixin promoVideo()
  .video-wrapper
    video#main-video.start-video(muted="muted", preload="auto", playsinline="playsinline", loop="", autoplay="")
      source(src="../video/shlagbaum-main.mp4", type="video/mp4")