@import 'lib/variables';
@import 'lib/normalize';

// Базовые стили
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  background-color: var(--color-white);
  color: var(--text-gray);
}
