-
  var pagesList = {
    index: {title: 'Главная', url: 'index.html'},
    modal: {title: 'Окно формы', url: 'modal.html'},
    thank: {title: 'Окно Спасибо', url: 'thank.html'},
    pagesList: {title: 'Список страниц', url: 'pages-list.html'},
  };